label {
    display: block;
    float: left;
    width: 89px;
}

fieldset.position-node {
    margin: 10px 0 20px 0;
    padding: 10px;
    width: 400px;
}

fieldset.position-node .notice { margin-top: 0;}

fieldset.position-node * {
    width: auto;
    position: inline;
}

.button.left {
    display:block;
    float:left;
    padding:3px;
    margin-right: 10px;
}

.button.left.move {
    margin-left: 10px;
}
.form-row.last { border-bottom: 0px;}

#image-preview {
    margin-left: 600px;
    margin-top: -30px;
    width: 200px;
    padding: 25px;
    border: 1px solid silver;
}

.notice {
    padding: 10px;
    margin: 10px 0;
}

#id_slug { width: 300px;}
#id_title { width: 500px; }

.item-order {margin: 20px;}

/* Index Page */ 
#node-list li { 
    font-size: 10px; 
    list-style-type: none; 
}
#node-list li span { font-size: 16px;}

/* Sorting Page */

#sortable {
    padding: 0px;
    width: 650px;
}
#sortable li { padding: 5px;}
#sortable li div { 
    background: #fff;
    padding: 6px 20px;
    opacity: .7;
    -moz-opacity: .5;
    filter: alpha(opacity=50); 
}
#sortable li h4,
#sortable li h5 { padding: 2px; margin: 0px;}
#sortable li h4, 
#sortable li h4 a  { color: #666666; }
#sortable li h4 { font-size: 1.3em;}
#sortable .ui-state-highlight { height: 52px; }
#sortable label { float: right; width: auto; margin-top: -30px;}

/* Related Content Page */

.related-content th,
.related-content td { font-size: 1.2em; padding: 8px; }

/* Move Section Page */

.move-section label { width: auto;}

.sections-preview { 
    float: right;
    margin: -20px 10px 0 0;
    border: 1px dashed silver;
    padding: 10px;
}
.sections-preview .active { font-weight: bold; color: #a50300;}