{% extends "admin/change_form.html" %}
{% load i18n %}
{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="{%url admin:index%}">{% trans "Home" %}</a> &rsaquo;
  <a href="{%url sections:sections_index%}">{% trans "Sections" %}</a> &rsaquo; 
     Add 
     {%if not node%}
     {% trans "Section: " %}{%else%}{% trans "Subsection: " %}
     {%endif%}{{node.title}}
</div>
{% endblock %}
{% block content %}
{{section_form.media}}
{{source_inline_form.media}}
<link rel="stylesheet" href="{{MEDIA_URL}}styles/sections-admin.css" type="text/css" media="all">
{%if node%}
<p>Belonging to: {{node.type}} <em>{{node.title}}</em></p>
<form enctype="multipart/form-data" action="{%url sections:add node_id=node.pk%}" method="POST">
{%else%}
<form enctype="multipart/form-data" action="{%url sections:add node_id='root'%}" method="POST">
{%endif%}
<table>
{{section_form.as_table}}
<tr><td colspan="2"><h3>Section Library Sources:</h3></td></tr>
{{source_formset.as_table}}
</table>
{%if node.has_children %}
{%with node.get_children as children%}
<fieldset class="position-node">
<legend>Position New Section</legend>
<p>'{{node.title}}' already has {{children|pluralize:"a subsection,some subsections"}} 
({%for child in children%}<em>{{child.title}}</em>{%if not forloop.last%}, {%endif%}{%endfor%})
. How do you want to position this new section in relation to {{children|pluralize:"it,them"}}?</p>
<label>Add this subsection 
    <select name="position">
        <option value="after">after</option>
        <option value="before">before</option>
    </select>
    the 
    <select name="child">
    {%for child in children%}
        <option value="{{child.pk}}"{%if forloop.last%} selected="true"{%endif%}>{{child.title}}</option>
    {%endfor%}
    </select> subsection.
</label>
</fieldset>
{%endwith%}
{%endif%}
<input type="submit" value="Save" />
</form>
{%endblock%}
