{%extends "admin/change_form.html"%}
{%load i18n%}
{%block extrastyle%}
    {{ block.super }}
    <link rel="stylesheet" href="{{MEDIA_URL}}scaffold/styles/scaffold-admin.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}scaffold/styles/jquery.ui.start/jquery.ui.css" type="text/css">   
{%endblock%}
{%block breadcrumbs%}
<div class="breadcrumbs">
    <a href="{%url admin:index%}">{% trans "Home" %}</a> &rsaquo; 
    <a href="{{app_index_url}}">{{app_label|capfirst}}</a> &rsaquo;      
    <a href="{{changelist_url}}">{{model_label|capfirst}}</a> &rsaquo;
    {%trans "Add"%} {{model_label}}
</div>
{%endblock%}
{%block content%}
{%if parent%}
<p>{%trans "Belonging to:"%} {{model_label}} <em>{{parent.title}}</em></p>
<form enctype="multipart/form-data" action="" method="post">
{%else%}
<form enctype="multipart/form-data" action="" method="post">
{%endif%}
    {%if has_fieldsets%}
    {% for fieldset in form %}
        {% include "scaffold/admin/includes/fieldset.html" %}
    {%endfor%}
    {%else%}
    <fieldset class="module aligned">
        <div class="form-row">
            {%for field in form%}
                     <div class="field-box">
                         {{field.errors}}
                         {% if field.is_checkbox %}
                             {{ field. }}{{ field.label_tag }}
                         {% else %}
                             {{ field.label_tag }}{{ field }}
                         {% endif %}
                         {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}                     
                    </div>
             {%endfor%}
        </div>
    </fieldset>
    {%endif%}
    {%if parent.has_children%}
    {%with parent.get_children as children%}
    <fieldset class="position-node ui-state-highlight ui-corner-all">
    <legend>Position New {{model_label|capfirst}}</legend>
    <p class="notice">The {{model_label}} that you're adding this new {{model_label}} to already has 
        {{children|pluralize:"a,some"}} sub-{{model_label}}{{children|pluralize}} 
    ({%for child in children%}<em>{{child.title}}</em>{%if not forloop.last%}, {%endif%}{%endfor%} ).
     How do you want to position this new section in relation to {{children|pluralize:"it,them"}}?</p>
    <label>Add this subsection 
        <select name="position">
            <option value="after">after</option>
            <option value="before">before</option>
        </select>
        the 
        <select name="child">
        {%for child in children%}
            <option value="{{child.pk}}"{%if forloop.last%} selected="true"{%endif%}>{{child.title}}</option>
        {%endfor%}
        </select> subsection.
    </label>
    </fieldset>
    {%endwith%}
    {%endif%}
    <div class="submit-row">
    <input type="submit" name="_continue" value="Save and continue editing">
    <input type="submit" name="_save" class="default" value="Save">
    </div>
</form>
{%endblock%}
