{% extends "admin/change_list.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{{MEDIA_URL}}scaffold/styles/scaffold-admin.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}scaffold/styles/scaffold-listview.css" type="text/css" media="screen"/>
    <script src="{% static 'scaffold/scripts/jstree/_lib/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'scaffold/scripts/jstree/_lib/jquery.cookie.js' %}" type="text/javascript"></script>
    <script src="{% static 'scaffold/scripts/jstree/jquery.jstree.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'scaffold/scripts/scaffold-listview.js' %}" type="text/javascript"></script>
{%endblock%}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{%url admin:index%}">{% trans "Home" %}</a> &rsaquo; 
    <a href="{{app_index_url}}">{{app_label|capfirst}}</a> &rsaquo;      
    {{model_label_plural|capfirst}}
</div>
{% endblock %}

{% block content %}    
    {% block object-tools %}
        <ul class="object-tools">
            <li><a href="root/create/">{% trans "Add a top-level" %} {{model_label}}</a></li>
        </ul>
    {%endblock%}
    <div id="changelist" class="module">
        <div id="toolbar">
            <form id="changelist-search" action="" method="get">
                <div>
                    <label for="searchbar"><img src="{% static 'admin/img/icon_searchbox.png' %}" alt="Search" /></label>
                    <input type="text" size="40" name="q" value="" id="searchbar" />
                    <input type="submit" value="Search" />
                </div>
            </form>
        </div>
        {{node_list|safe}}
    </div>
{% endblock %}