{% extends "admin/change_list.html" %}
{% load i18n %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{{MEDIA_URL}}scaffold/styles/scaffold-admin.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}scaffold/styles/jquery.treeview.css" type="text/css">
    <script src="{{MEDIA_URL}}scaffold/scripts/jquery.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}scaffold/scripts/jquery.treeview.js" type="text/javascript"></script>
{%endblock%}
{% block breadcrumbs %}
<div class="breadcrumbs">
      <a href="{%url admin:index%}">{% trans "Home" %}</a> &rsaquo;
      {{model_label|capfirst}}s
</div>
{% endblock %}
{% block content %}
{{node_list|safe}}
<script type="text/javascript">
$("#node-list").treeview()
</script>
{% endblock %}