{% extends "admin/change_form.html" %}
{% load i18n %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{{MEDIA_URL}}scaffold/styles/scaffold-admin.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}scaffold/styles/jquery.treeview.css" type="text/css">
    <script src="{{MEDIA_URL}}scaffold/scripts/jquery.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}scaffold/scripts/jquery.treeview.js" type="text/javascript"></script>    
    <style type="text/css" media="screen">
    label, input { display: inline; }
    label { padding-right: 10px;}
    </style>
{%endblock%}
{% block breadcrumbs %}
<div class="breadcrumbs">
      <a href="{%url admin:index%}">{% trans "Home" %}</a> &rsaquo; 
      <a href="{%url scaffold:sections_index%}">{% trans "Sections" %}</a> &rsaquo;       
      {%trans "Move"%} {{section.type}} <em>{{section.title}}</em>
</div>
{% endblock %}
{% block content %}
<div class="sections-preview">
<h4>Current Section Structure:</h4>
{{preview|safe}}
</div>
<form action="{%url scaffold:move section_id=section.pk%}" method="POST" class="move-section">
<label>Make this section a 
    <select name="relationship">
        <option value="neighbor">Neighbor</option>
        <option value="child">Child</option>
    </select>
<label>
<label> of 
    <select name="to">
        {%for n in tree%}
        <option value="{{n.id}}">{{n}}</option>
        {%endfor%}
        <option value="TOP">[MOVE TO TOP]</option>
    </select>
</label>   
<input type="submit" value="Move" />
</form>
<script type="text/javascript">
$(".sections-preview ul").treeview()
</script>
{%endblock%}