{% extends "admin/change_list.html" %}
{% load i18n %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{{MEDIA_URL}}scaffold/styles/scaffold-admin.css" type="text/css" media="screen"/>
    <style type="text/css" media="screen">
    th { font-weight: normal; }
    th.active  { font-weight: bold; text-decoration: underline; }
    </style>
    <script src="{{MEDIA_URL}}scaffold/scripts/jquery.js" type="text/javascript"></script>
{%endblock%}
{% block breadcrumbs %}
<div class="breadcrumbs">
      <a href="{%url admin:index%}">{% trans "Home" %}</a> &rsaquo; 
      <a href="{%url sections:sections_index%}">{% trans "Sections" %}</a> &rsaquo;       
      {%trans "Order content for"%} {{section.type}} <em>{{section.title}}</em>
</div>
{% endblock %}
{% block content %}
<form action="{%url sections:order section_id=section.pk%}" method="POST">
    <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Content Type</th>
            <th>Order</th>
        </tr>
    </thead>
    <tbody>
    {%for item, date, app, obj, relationship_type, order in related_content%}
        <tr>
            <td>
                {%if item.get_absolute_url%}
                <a href="{{item.get_absolute_url}}">
                {%endif%}
                {%if item.title%}{{item.title}}{%else%}{%if item.headline%}{{item.headline}}{%else%}{{item}}{%endif%}{%endif%}
                {%if item.get_absolute_url%}</a>{%endif%}
            </td>
            <td>{%if date%}{{date|date:'D, F j, Y'}}{%else%}No date{%endif%}</td>
            <td>{{obj}}</td>
            <td><input type="text" name="{{app}}-{{obj}}-{{item.pk}}" value="{{item.order}}"></td>
        </tr>
    {%empty%}
        <tr><td colspan="2">No objects assigned to the section.</td></tr>
    {%endfor%}
    </tbody>
    </table>
    <br/>
    <input type="submit" value="Save"/>
</form>
{% endblock %}