{% extends "admin/change_list.html" %}
{% load i18n %}
{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="{%url admin:index%}">{% trans "Home" %}</a> &rsaquo;
     <a href="{%url sections:node_index%}">{% trans "Sections" %}</a> &rsaquo; 
     Content For {{node.type}} <em>{{node.title}}</em>
</div>
{% endblock %}
{% block content %}
<script src="{{MEDIA_URL}}js/jquery.js" type="text/javascript"></script>
<style type="text/css">
th { font-weight: normal; }
th.active  { font-weight: bold; text-decoration: underline; }
</style>
<br/>
<form action="{%url sections:order node_id=node.pk%}" method="POST">
    <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Content Type</th>
            <th>Order</th>
        </tr>
    </thead>
    <tbody>
    {%for item, date, app, obj, relationship_type, order in related_content%}
        <tr>
            <td><a href="{{item.get_absolute_url}}">
                {%if item.title%}{{item.title}}{%else%}{%if item.headline%}{{item.headline}}{%else%}{{item}}{%endif%}{%endif%}
            </a></td>
            <td>{%if date%}{{date|date:'D, F j, Y'}}{%endif%}</td>
            <td>{{obj}}</td>
            <td><input type="text" name="{{app}}-{{obj}}-{{item.pk}}" value="{{item.order}}"></td>
        </tr>
    {%empty%}
        <tr><td colspan="2">No objects assigned to the section.</td></tr>
    {%endfor%}
    </tbody>
    </table>
    <br/>
    <input type="submit" value="Save"/>
</form>
{% endblock %}
