<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{{section.title}}</title>
    <style type="text/css">
        #nav {width: 100%; clear:both;}
        #nav li { display: inline; margin: 0 10px; list-style-type: none;}
        #nav li.active a, #sitemap li.active a { color: orange;}
        #sitemap { border-top: 1px solid gray;}
    </style>
</head>
<body>
    {%load sections%}
    <!-- NB: This template should be overridden in your app. 
        It's just here to show what you can do with sections 
        in terms of navigating through parent and child 
        sections. -->
        
    <ul id="nav">
        {% get_root_sections with section as root_sections %}
        {%for nav in root_sections%}
            <li{%if nav.is_active%} class="active"{%endif%}>
                <a href="{{nav.get_absolute_url}}">{{nav.title}}</a>
            </li>
        {%endfor%}
    </ul>
    <h1>{{section.title}}</h1>
    {%with section.get_parent as parent%}
    {%if parent%}<p>Parent is: <a href="{{parent.get_absolute_url}}">{{parent.title}}</a>.</p>{%endif%}
    {%endwith%}
    {%with section.get_children as children%}
    {%if children%}
    <h2>Child sections:</h2>
    <ul>{%for child in children%}
        <li><a href="{{child.get_absolute_url}}">{{child.title}}</a></li>
    {%endfor%}</ul>
    {%endif%}
    {%endwith%}
</body>
</html>